input, button {
    font-family: $base-font-family;
    background: #fff;
    border-radius: 5px;
    padding: 15px;
    border: 0;
    box-shadow: 0 10px 20px rgba(#000, .10);
    outline: 0;
    height: 52px;
    width: 100%;

    &::placeholder {
        color: $ocean-blue;
        font-style: italic;
    }
}

label {
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: row;
}

.form-field {
    display: flex;
    flex-direction: column;
    position: relative;
    
    label + input {
        display: flex;
        margin-top: 8px;
    }
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: $gutter;
    margin-top: $gutter;

    .form-field + button {
        margin-top: auto;
    }
}

.button-primary {
    cursor: pointer;
    padding: 0;
    height: 52px;
    background-color: $blue;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    transition: background .3s ease;

    &:hover {
        background-color: lighten($blue, 10%);
    }
}

.error {
    color: rgb(250, 104, 104);
    border-radius: 3px;
    font-size: .8rem;
    margin: 5px 0;
}