input, button {
    font-family: $base-font-family;
    background: #fff;
    border-radius: 5px;
    padding: 15px;
    border: 0;
    outline: 0;
    width: 100%;
    transition: .2s ease;
    min-height: 52px;
    position: relative;
    z-index: 1;

    &::placeholder {
        color: #bbb;
        font-style: italic;
    }
}

input:focus {
    box-shadow: 0 0 0 3px $pastel-blue;
}

label {
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: row;
}

.form-field {
    display: flex;
    flex-direction: column;
    position: relative;
    
    label + input {
        display: flex;
        margin-top: 8px;
    }
}

.form-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: $gutter;

    .form-field + button {
        margin-top: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .2s ease;
    }

    @media screen and (max-width: $widthSM) {
        grid-template-columns: 1fr;
    }
}

.error {
    background-color: rgb(197, 73, 73);
    color: #fff;
    padding: 25px 10px 5px;
    border-radius: 5px;
    font-size: .8rem;
    position: absolute;
    top: 100%;
    margin-top: -20px;
    z-index: 0;

    @media screen and (max-width: $widthSM){
        position: relative;
        top: 0;
    }
}

.loading-icon {
    animation: loading .5s linear infinite;
    margin-left: 10px;
}