input, button {
    font-family: $base-font-family;
    background: #fff;
    border-radius: 5px;
    padding: 15px;
    border: 0;
    outline: 0;
    height: 52px;
    width: 100%;
    transition: .2s ease;

    &::placeholder {
        color: #bbb;
        font-style: italic;
    }
}

input:focus {
    box-shadow: 0 0 0 3px $pastel-blue;
}

label {
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: row;
}

.form-field {
    display: flex;
    flex-direction: column;
    position: relative;
    
    label + input {
        display: flex;
        margin-top: 8px;
    }
}

.form-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: $gutter;

    .form-field + button {
        margin-top: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .2s ease;
    }

    @media screen and (max-width: $widthSM) {
        grid-template-columns: 1fr;
    }
}

.button-primary {
    cursor: pointer;
    padding: 0;
    height: 52px;
    background: linear-gradient(45deg, $blue, lighten($blue, 20%));
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    transition: background .3s ease;

    &:hover {
        background: linear-gradient(-45deg, $blue, lighten($blue, 5%));
    }
}

.error {
    color: rgb(250, 104, 104);
    border-radius: 3px;
    font-size: .8rem;
    margin: 5px 0;
    position: absolute;
    bottom: -25px;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.loading-icon {
    animation: loading .5s linear infinite;
    margin-left: 10px;

    &.hide {
        display: none;
    }
}