#url-shortened {
    display: flex;
    flex-direction: column;
    margin-top: $gutter * 1.5;
    border-radius: 5px;

    &.is-reversed {
        flex-direction: column-reverse;
    }

    @media screen and (max-width: 768px) {
        margin-top: $gutter;
    }
}

.shorturl {
    background: #1a1665;
    flex-direction: row;
    color: lighten($pastel-blue, 30%);
    padding: 10px 15px;
    border-radius: 5px;
    margin: 5px 0;
    position: relative;
    opacity: 0;
    animation: appear_in .5s ease forwards;

    &:not(.hide) {
        display: flex;
    }

    a {
        text-decoration: none;
        color: lighten($ocean-blue, 10%);

        &:hover {
            color: lighten($ocean-blue, 20%);    
        }
    }

    .label {
        font-size: .8em;
        font-weight: 600;
        margin-bottom: 5px;
    }

    &-output {
        display: flex;
        flex-direction: column;

        &.is-long {
            margin-right: $gutter;
            width: 30%;
            
            .url {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: darken($pastel-blue, 5%);
            }
        }
    }

    @media screen and (max-width: $widthSM) {
        flex-direction: column;
        width: 100%;
        margin: 10px 0;

        .label {
            display: none;
        }

        .is-long {
            width: 100%;
            margin-right: 0;

            .url {
                font-size: .8rem;
                margin-bottom: 5px;
            }
        }

        &-output, a {
            overflow: hidden;
        }
        
        a {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}

.shorturl-actions {
    margin-left: auto;
    display: flex;

    @media screen and (max-width: $widthSM) {
        margin: ($gutter / 2) 0 0 0;
    }
}

.clipboard-copied {
    width: 100%;
    background: #91a94e;
    color: #fff;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    position: fixed;
    bottom: -70px;
    left: 0;
    box-shadow: 0 10px 20px rgba(0,0,0, .2);
    transition: bottom .2s ease;
    z-index: 100;

    &.is-visible {
        bottom: 0;
    }

    svg {
        margin-right: 10px;
    }
}

.alert-clicks-number {
    font-size: 6rem;
    color: $orange;
    font-weight: 600;

    @media screen and (max-width: $widthSM) {
        font-size: 4rem;
    }
}
