#url-shortened {
    display: flex;
    flex-direction: column;
    margin-top: $gutter;
    border-radius: 5px;
}

.shorturl {
    background: #f9f9f9;
    display: flex;
    flex-direction: row;
    color: #909090;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 5px 0;
    
    a {
        text-decoration: none;
        color: #606060;
    }

    span {
        font-size: .8em;
    }

    &-output {
        display: flex;
        flex-direction: column;
    }

    @media screen and (max-width: 640px) {
        &-output, a {
            overflow: hidden;
        }
        
        a {
            max-width: 90%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}

.shorturl-actions {
    margin-left: auto;
}

.button-copy {
    cursor: pointer;
    display: flex;
    margin-left: auto;
    max-width: 100px;
    padding: 10px;
    color: #fff;
    background-color: $dark-blue;
    align-items: center;
    justify-content: center;
    margin-left: auto;

    svg {
        margin-right: 5px;
    }

    &:hover {
        background-color: lighten($dark-blue, 10%);
    }
}

.clipboard-copied {
    background: rgba(0,0,0,.8);
    display: flex;
    margin: 0 auto;
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
    align-items: center;
    font-weight: 600;
    position: fixed;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom .2s ease;

    svg {
        margin-right: 10px;
    }

    &.is-visible {
        bottom: 20px;
    }
}