// Measures
$gutter: 30px;

// Colors
$dark-blue: #0B0B1E;
$ocean-blue: #C8D0FF;
$blue: #1E36F6;

// Main
$body-bg: $dark-blue;
$body-color: #ffffff;

// Font
$base-font-family: 'Poppins', sans-serif;
$font-size-root: 16px;

// Components
$container-width: 1200px;