* {
    box-sizing: border-box;
    font-size: $font-size-root;
}

html, body {
    height: 100%;
}

body {
    color: $body-color;
    font-family: $base-font-family;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    height: 100%;
    border-top: 5px solid $blue;
}

p {
    margin: 0;
    font-size: 1rem;
}

a {
    color: $blue;

    &.no-underline {
        text-decoration: none;
    }
}

.container {
    display: flex;
    flex-direction: column;
    max-width: $container-width;
    padding: $gutter;
    margin: 0 auto;
    position: relative;

    @media screen and (max-width: $widthSM) {
        padding: $gutter / 2 $gutter;
    }
}

.hide {
    display: none;
}

.fade-in-up {
    opacity: 0;
    position: relative;
    animation: appear_in .5s ease forwards;
}