footer {
    text-align: center;
    padding: $gutter;

    p {
        font-size: .9rem;
        color: $pastel-blue;
        
        .copyright-icon {
            margin: 0 5px;
            transition: all .1s ease;
            animation: heart_pulse 1s ease infinite;
            margin-bottom: -3px;
        }
    }
}