#header {
    padding: $gutter / 2 0;
    align-items: center;

    .lines span {
        position: absolute;
        top: 0;
        height: 0;
        width: 1px;
        background: linear-gradient(rgba($blue, .15) 20%, rgba($dark-blue, 0) 100%);
        animation: fullheight 2s ease forwards;

        &:nth-child(1) { left: 20%; }
        &:nth-child(2) { left: 49.93%; }
        &:nth-child(3) { left: 62.75%; }
        &:nth-child(4) { left: 80%; }

        @media screen and (max-width: $widthSM) {
            background: linear-gradient(rgba($blue, .15) 10%, rgba($dark-blue, 0) 50%);
            &:nth-child(2) { display: none; }
        }
    }

    h1 {
        color: #fff;
    }

    @media screen and (max-width: $widthSM) {
        text-align: center;
        .container { padding-bottom: 0; }
    }

    .header-content {
        text-align: center;
        padding: ($gutter * 2) 0 $gutter;

        @media screen and (max-width: $widthSM) {
            padding: ($gutter - 10) 0 0 0;

            h1 + p {
                display: none;
            }
        }
    }

    h1 {
        p {
            color: $ocean-blue;

            strong {
                color: #fff; 
            }
        } 

        @media screen and (max-width: $widthSM) {
            font-size: 2rem;
            line-height: 1.2em;
        }
    }

    .logo-label {
        font-size: 10px;
        padding: 3px 6px;
        background-color: #67af86;
        border-radius: 50px;
        color: #fff;
    }

    .header-logo {
        display: flex;
        align-items: center;

        @media screen and (max-width: $widthSM) {
            display: block;
        }
    }

    .alert {
        text-decoration: none;
        padding: 5px 15px 5px 5px;
        border-radius: 4px;
        background-color: rgba(#000, .3);
        align-items: center;
        margin-left: auto;
        border: 2px solid transparent;
        transition: border .2s ease;
        text-align: left;
        display: flex;

        &, h2 {
            font-size: .8rem;
            font-weight: 400;
            color: #fff;
        }

        h2 {
            margin: 0;
            font-weight: 600;
            background-color: $orange;
            border-radius: 4px;
            padding: 5px 15px;
            margin-right: 10px;
        }

        .icon {
            margin-left: 5px;
        }

        &:hover {
            border-color: rgba($pastel-blue, .5);
        }

        @media screen and (max-width: $widthSM) {
            margin-top: $gutter / 2;
        }
    }
}